.child136 {
  position: absolute;
  height: 28.88%;
  width: 36.48%;
  top: 71.26%;
  right: 63.51%;
  bottom: -0.13%;
  left: 0.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subtract-icon3 {
  position: relative;
  width: 700.5px;
  height: 1979px;
}
.subtract-icon4,
.subtract-icon5 {
  position: relative;
  width: 538.9px;
  height: 859.5px;
  opacity: 0.6;
}
.subtract-icon5 {
  width: 411.7px;
  height: 355px;
}
.child137 {
  position: absolute;
  height: 17.92%;
  width: 36.1%;
  top: 82.36%;
  right: 63.9%;
  bottom: -0.28%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gradient-icon15 {
  position: absolute;
  top: -64px;
  left: -71px;
  width: 2062px;
  height: 2062px;
  object-fit: cover;
  display: none;
  opacity: 0.8;
}
.icon156 {
  position: absolute;
  top: 504.6px;
  left: 380.4px;
  width: 95.7px;
  height: 27px;
}
.icon157,
.icon158 {
  position: absolute;
  top: 200.9px;
  left: 936px;
  width: 722.9px;
  height: 84.5px;
}
.icon158 {
  top: 677.8px;
  left: 317px;
  width: 252.4px;
  height: 32.2px;
}
.child138,
.child139,
.child140 {
  position: absolute;
  top: 559.5px;
  left: 816.5px;
  width: 909px;
  height: 3px;
}
.child139,
.child140 {
  top: 1148.5px;
  left: 817.5px;
}
.child140 {
  top: 680.5px;
  left: 816.5px;
}
.child141,
.child142,
.child143,
.child144,
.icon159 {
  position: absolute;
  top: 1265.5px;
  left: 817.5px;
  width: 909px;
  height: 3px;
}
.child142,
.child143,
.child144,
.icon159 {
  top: 797.5px;
  left: 816.5px;
}
.child143,
.child144,
.icon159 {
  top: 914.5px;
}
.child144,
.icon159 {
  top: 1031.5px;
}
.icon159 {
  top: 992.6px;
  left: 916.2px;
  width: 100.7px;
  height: 22.6px;
}
.icon160,
.icon161,
.icon162 {
  position: absolute;
  top: 1109.6px;
  left: 915.5px;
  width: 120.6px;
  height: 28.6px;
}
.icon161,
.icon162 {
  top: 1226.6px;
  left: 915.7px;
  width: 303.2px;
}
.icon162 {
  top: 757.3px;
  left: 917px;
  width: 274.9px;
  height: 30px;
}
.icon163,
.icon164 {
  position: absolute;
  top: 875.6px;
  left: 916.7px;
  width: 254.7px;
  height: 27.4px;
}
.icon164 {
  top: 520.8px;
  left: 917.6px;
  width: 79.5px;
  height: 23.9px;
}
.group-icon19,
.icon165 {
  position: absolute;
  top: 640.6px;
  left: 916.9px;
  width: 97.8px;
  height: 23.6px;
}
.group-icon19 {
  height: 1.7%;
  width: 2.73%;
  top: 50.14%;
  right: 54.53%;
  bottom: 48.16%;
  left: 42.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child145,
.group-icon20,
.group-icon21,
.vector-icon50,
.vector-icon51 {
  position: absolute;
  height: 2.63%;
  width: 2.22%;
  top: 37.31%;
  right: 55.02%;
  bottom: 60.06%;
  left: 42.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child145,
.group-icon20,
.group-icon21,
.vector-icon51 {
  height: 2.53%;
  width: 2.59%;
  top: 31.51%;
  right: 54.8%;
  bottom: 65.96%;
  left: 42.6%;
}
.child145,
.group-icon20,
.group-icon21 {
  height: 2.67%;
  width: 2.28%;
  top: 55.12%;
  right: 54.99%;
  bottom: 42.21%;
  left: 42.73%;
}
.child145,
.group-icon21 {
  height: 2.5%;
  top: 61.22%;
  bottom: 36.28%;
}
.child145 {
  height: 2.33%;
  width: 1.87%;
  top: 25.58%;
  right: 55.19%;
  bottom: 72.09%;
  left: 42.94%;
}
.child146 {
  position: absolute;
  top: 1811px;
  left: 1089px;
  border-radius: 22.97px;
  background-color: var(--color-tomato);
  width: 366px;
  height: 76px;
}
.icon166 {
  position: absolute;
  top: 1840.9px;
  left: 1138.4px;
  width: 266px;
  height: 21.7px;
}
.character-icon1,
.group-icon22 {
  position: absolute;
  height: 45.73%;
  width: 20.03%;
  top: 44.53%;
  right: 79.97%;
  bottom: 9.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon22 {
  height: 2.48%;
  width: 2.34%;
  top: 43.52%;
  right: 54.9%;
  bottom: 54%;
  left: 42.76%;
}
.icon167,
.icon168 {
  position: absolute;
  top: 1343.4px;
  left: 917.1px;
  width: 193.3px;
  height: 22.9px;
}
.icon168 {
  top: 1435.6px;
  left: 918.2px;
  width: 186px;
  height: 28.6px;
}
.child147 {
  top: 1339px;
  left: 826px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 35px;
}
.child147,
.child148,
.child149 {
  position: absolute;
  width: 35px;
}
.child148 {
  top: 1431px;
  left: 826px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 35px;
}
.child149 {
  top: 1322px;
  left: 830px;
  height: 47.8px;
}
.child150,
.child151 {
  position: absolute;
  top: 1575.5px;
  left: 817.5px;
  width: 909px;
  height: 3px;
}
.child151 {
  top: 1695.5px;
}
.icon169,
.vector-icon52 {
  position: absolute;
  top: 1537.4px;
  left: 919.4px;
  width: 450.7px;
  height: 29px;
}
.vector-icon52 {
  height: 2.63%;
  width: 2.22%;
  top: 76.82%;
  right: 55.05%;
  bottom: 20.54%;
  left: 42.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon170 {
  position: absolute;
  top: 1657.4px;
  left: 920.1px;
  width: 335.3px;
  height: 28.8px;
}
.group-icon23,
.group-icon24 {
  position: absolute;
  height: 1.67%;
  width: 2.89%;
  top: 83.87%;
  right: 54.48%;
  bottom: 14.47%;
  left: 42.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon24 {
  height: 1.84%;
  width: 1.86%;
  top: 83.26%;
  right: 11.78%;
  bottom: 14.89%;
  left: 86.35%;
}
.div39 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1974px;
  overflow: hidden;
}
