.gradient-icon6,
.gradient-icon7 {
  position: absolute;
  top: 1449px;
  left: 1px;
  width: 1919px;
  height: 497px;
  object-fit: cover;
  opacity: 0.8;
}
.gradient-icon7 {
  top: 0;
  left: 2px;
  width: 1918px;
  height: 1449px;
}
.b4 {
  top: 221px;
  font-size: 45.18px;
  line-height: 41.93px;
  display: flex;
  align-items: center;
  width: 265px;
  height: 29px;
}
.b4,
.child30,
.child31,
.div6 {
  position: absolute;
  left: 681px;
}
.div6 {
  top: 1172px;
  line-height: 41.93px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 433px;
  height: 28px;
}
.child30,
.child31 {
  top: 372px;
  border-radius: 25.17px;
  background-color: var(--color-tomato);
  box-shadow: -5.5px -3.3px 10.96px rgba(22, 60, 81, 0.25),
    5.5px 4.4px 10.96px rgba(22, 60, 81, 0.25);
  width: 469.3px;
  height: 211px;
}
.child31 {
  top: 807px;
  left: 1741px;
  background-color: var(--color-white);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.child32 {
  top: 242.3px;
  left: 1197.4px;
  border-radius: 20.76px;
  width: 561.1px;
  height: 353.4px;
  object-fit: cover;
}
.child32,
.child33,
.div7 {
  position: absolute;
}
.child33 {
  top: 689px;
  left: 1211px;
  border-radius: 20.76px;
  box-shadow: -4.5px -2.7px 9.04px rgba(22, 60, 81, 0.25),
    4.5px 3.6px 9.04px rgba(22, 60, 81, 0.25);
  border: 4.9px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 534px;
  height: 329px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div7 {
  top: 832px;
  left: 791px;
  line-height: 41.93px;
  font-weight: 600;
  color: var(--color-black);
}
.child34 {
  top: 1287px;
  left: 679px;
  border-radius: 20.76px;
  background-color: var(--color-white);
  box-shadow: -4.5px -2.7px 9.04px rgba(22, 60, 81, 0.25),
    4.5px 3.6px 9.04px rgba(22, 60, 81, 0.25);
  width: 1064px;
  height: 207px;
}
.child34,
.child35,
.div8 {
  position: absolute;
}
.child35 {
  top: 1581px;
  left: 679px;
  border-radius: 20.76px;
  background-color: var(--color-white);
  box-shadow: -4.5px -2.7px 9.04px rgba(22, 60, 81, 0.25),
    4.5px 3.6px 9.04px rgba(22, 60, 81, 0.25);
  width: 1064px;
  height: 207px;
}
.div8 {
  top: 1305px;
  font-size: var(--font-size-6xl);
  line-height: 65.4px;
}
.div10,
.div8,
.div9 {
  left: 737px;
  font-weight: 600;
}
.div9 {
  position: absolute;
  top: 1599px;
  font-size: var(--font-size-6xl);
  line-height: 65.4px;
}
.div10 {
  top: 1406px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 328px;
  height: 43.7px;
}
.div10,
.div11,
.div12,
.div13 {
  position: absolute;
  line-height: 65.4px;
}
.div11 {
  top: 1715px;
  left: 737px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 328px;
  height: 43.7px;
}
.div12,
.div13 {
  top: 1308px;
  left: 1122px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.div13 {
  top: 1602px;
}
.group-icon5,
.spanbha-order-button-icon {
  position: absolute;
  top: 505.4px;
  left: 1081.2px;
  width: 40.2px;
  height: 66.9px;
}
.group-icon5 {
  height: 1.7%;
  width: 1.72%;
  top: 49.51%;
  right: 30.57%;
  bottom: 48.79%;
  left: 67.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child36 {
  position: absolute;
  top: 1319px;
  background-color: var(--color-tomato);
}
.child36,
.child37,
.child38 {
  left: 1440px;
  border-radius: 17.44px;
  width: 277.8px;
  height: 57.7px;
}
.child37 {
  position: absolute;
  top: 1615px;
  background-color: var(--color-tomato);
}
.child38 {
  top: 1406px;
  border: 4.1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.b5,
.child38,
.child39 {
  position: absolute;
}
.child39 {
  top: 1702px;
  left: 1440px;
  border-radius: 17.44px;
  border: 4.1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 277.8px;
  height: 57.7px;
}
.b5 {
  top: 1336.5px;
  left: 1529.7px;
  color: var(--color-white);
}
.b5,
.b6,
.b7 {
  font-size: 18.01px;
  text-align: center;
}
.b6 {
  position: absolute;
  top: 1632.5px;
  left: 1529.7px;
  color: var(--color-white);
}
.b7 {
  top: 1423.7px;
  left: 1476px;
  color: var(--color-gray-100);
}
.b7,
.b8,
.child40 {
  position: absolute;
}
.b8 {
  top: 1719.7px;
  left: 1476px;
  font-size: 18.01px;
  color: var(--color-gray-100);
  text-align: center;
}
.child40 {
  top: -47px;
  left: -1099px;
  background-color: var(--color-darkslategray);
  width: 1920px;
  height: 152px;
  display: none;
}
.spanbha-order-button-icon1 {
  position: absolute;
  top: 0;
  left: 28px;
  width: 33.1px;
  height: 55.2px;
}
.b9 {
  position: absolute;
  top: 14px;
  left: calc(50% - 44px);
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  height: 36px;
}
.spanbha-order-button-text {
  position: absolute;
  top: 0;
  left: 6px;
  width: 88px;
  height: 55.2px;
}
.button,
.spanbha-order-button-textma {
  position: absolute;
  top: -5px;
  left: 68px;
  width: 114px;
  height: 55px;
}
.button {
  top: -0.3px;
  left: -95.6px;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-tomato);
  width: 269px;
  height: 56px;
  overflow: hidden;
}
.divv-popper {
  position: absolute;
  top: calc(50% - 30.7px);
  left: 101.6px;
  width: 173.6px;
  height: 55.2px;
}
.ibha-notifications-button-ic-icon {
  position: absolute;
  top: calc(50% - 21.2px);
  left: calc(50% - 21.2px);
  width: 42.4px;
  height: 42.4px;
}
.div15 {
  position: absolute;
  top: 2.6px;
  left: calc(50% - 6.8px);
  line-height: 31.78px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.3px;
  height: 25.6px;
}
.spanbha-notifications-button-1 {
  position: absolute;
  top: -5.3px;
  right: -15.9px;
  border-radius: 15.89px;
  background-color: var(--color-crimson);
  width: 31.8px;
  height: 31.8px;
}
.spanbha-notifications-button- {
  position: absolute;
  top: calc(50% - 35.3px);
  left: 14.1px;
  width: 42.4px;
  height: 70.6px;
}
.button1,
.divv-popper1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 70.6px;
}
.button1 {
  border-radius: 35.31px;
  width: 70.6px;
}
.divv-popper1 {
  width: 100%;
  right: 0;
}
.divb-account-header-button,
.divb-account-header-buttonm {
  position: absolute;
  top: 0;
  left: 7.1px;
  width: 70.6px;
  height: 70.6px;
}
.divb-account-header-buttonm {
  top: -7px;
  left: 284px;
  width: 77.7px;
  font-size: 21.19px;
  font-family: var(--font-inter);
}
.novis771yandexru3 {
  position: absolute;
  top: 0.3px;
  left: 15.2px;
  line-height: 50.44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 192.6px;
  height: 49.9px;
}
.spanb-profile-menu-button-te {
  position: absolute;
  top: 1px;
  left: 48.2px;
  width: 193px;
  height: 50.4px;
}
.spanb-profile-menu-button-ic-icon {
  position: absolute;
  top: calc(50% - 25.2px);
  left: 21.4px;
  width: 30.3px;
  height: 50.4px;
}
.link {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 25.22px;
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 53px;
}
.spanb-account-header-button,
.spanb-account-header-button1 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 266.1px;
  height: 53px;
}
.spanb-account-header-button {
  left: 375.8px;
  width: 271.1px;
  text-align: left;
  font-size: 17.65px;
  color: var(--color-darkslategray);
}
.divb-account-header-buttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 645.6px;
  height: 58px;
}
.div14,
.div16 {
  color: var(--color-white);
}
.div14 {
  position: absolute;
  top: 46px;
  left: 1098px;
  width: 645.6px;
  height: 58px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.div16 {
  top: 456px;
  left: 748px;
  line-height: 41.93px;
  font-weight: 600;
}
.child41,
.div16,
.div17 {
  position: absolute;
}
.div17 {
  top: 891px;
  left: 1355px;
  line-height: 41.93px;
  font-weight: 600;
  color: var(--color-tomato);
}
.child41 {
  top: -202px;
  left: -32px;
  background-color: var(--color-gainsboro-200);
  backdrop-filter: blur(66.5px);
  width: 1984px;
  height: 2254px;
}
.child42 {
  position: absolute;
  top: 304px;
  left: 1745px;
  border-radius: var(--br-70xl);
  background-color: var(--color-white);
  box-shadow: -5.5px -3.3px 10.96px rgba(22, 60, 81, 0.25),
    5.5px 4.4px 10.96px rgba(22, 60, 81, 0.25);
  width: 997px;
  height: 1319px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.icon61 {
  position: absolute;
  top: 375.9px;
  left: calc(50% + 40.2px);
  width: 498.9px;
  height: 43.7px;
}
.icon62,
.icon63 {
  position: absolute;
  top: 506.7px;
  left: 949.5px;
  width: 162.6px;
  height: 29.8px;
}
.icon63 {
  top: 1038.7px;
  left: 948.6px;
  width: 119.9px;
  height: 32.3px;
}
.child43,
.group-icon6 {
  position: absolute;
  height: 1.63%;
  width: 1.66%;
  top: 53.21%;
  right: 51.21%;
  bottom: 45.15%;
  left: 47.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child43 {
  height: 2.06%;
  width: 1.56%;
  top: 25.66%;
  right: 51.35%;
  bottom: 72.29%;
  left: 47.08%;
}
.child44,
.child45 {
  position: absolute;
  top: 570px;
  left: 904px;
  width: 683px;
  height: 426px;
}
.child45 {
  top: 1095px;
  left: 905px;
  height: 160px;
}
.icon64,
.icon65,
.icon66 {
  position: absolute;
  top: 601.3px;
  left: 950.6px;
  width: 135.6px;
  height: 22.3px;
}
.icon65,
.icon66 {
  top: 1123.3px;
  left: 950.2px;
  width: 88.9px;
  height: 17.9px;
}
.icon66 {
  top: 1186.8px;
  left: 949.6px;
  width: 191.1px;
  height: 22.8px;
}
.child46,
.child47,
.child48,
.icon67 {
  position: absolute;
  top: 1203.5px;
  left: 1458.5px;
  width: 35px;
  height: 3px;
}
.child47,
.child48,
.icon67 {
  left: 1505.5px;
}
.child48,
.icon67 {
  top: 1182px;
  left: 1464.2px;
  width: 72.7px;
  height: 17.2px;
}
.child48 {
  top: 649px;
  left: 949px;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 594px;
  height: 53px;
}
.group-icon7,
.icon68 {
  position: absolute;
  top: 671.2px;
  left: 970.2px;
  width: 73.9px;
  height: 13px;
}
.group-icon7 {
  height: 1.7%;
  width: 1.72%;
  top: 33.83%;
  right: 20.73%;
  bottom: 64.47%;
  left: 77.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon69,
.icon70 {
  position: absolute;
  top: 736.3px;
  left: 949.3px;
  width: 201.8px;
  height: 20.6px;
}
.icon70 {
  top: 778.3px;
  width: 179.8px;
  height: 17.9px;
}
.icon71,
.icon72,
.icon73,
.icon74 {
  position: absolute;
  top: 817.2px;
  left: 949.3px;
  width: 180.5px;
  height: 22.6px;
}
.icon72,
.icon73,
.icon74 {
  top: 856.8px;
  width: 76px;
  height: 22.8px;
}
.icon73,
.icon74 {
  top: 897.2px;
  width: 123px;
  height: 21.5px;
}
.icon74 {
  top: 935.8px;
  left: 949.6px;
  width: 187.4px;
  height: 23px;
}
.child49,
.child50 {
  position: absolute;
  top: 725px;
  left: 1552px;
  border-radius: 31px;
  background-color: var(--color-tomato);
  width: 11px;
  height: 48px;
}
.child50 {
  top: 1455px;
  left: 1064px;
  border-radius: 22.97px;
  width: 366px;
  height: 76px;
}
.child51,
.icon75,
.icon76 {
  position: absolute;
  top: 1485px;
  left: 1197.1px;
  width: 100.8px;
  height: 19.9px;
}
.child51,
.icon76 {
  height: 101.34%;
  width: 29.69%;
  top: 0;
  right: 70.31%;
  bottom: -1.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon76 {
  height: 1.09%;
  width: 6.16%;
  top: 17.22%;
  right: 78.77%;
  bottom: 81.69%;
  left: 15.07%;
}
.bold-essentional-ui-masks3,
.icon77,
.icon78,
.icon79,
.vector-icon19 {
  position: absolute;
  height: 1.39%;
  width: 7.83%;
  top: 22.72%;
  right: 77.14%;
  bottom: 75.88%;
  left: 15.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-essentional-ui-masks3,
.icon78,
.icon79,
.vector-icon19 {
  height: 1.38%;
  width: 11.23%;
  top: 29.1%;
  right: 73.7%;
  bottom: 69.52%;
  left: 15.07%;
}
.bold-essentional-ui-masks3,
.icon79,
.vector-icon19 {
  height: 1.09%;
  width: 9.4%;
  top: 35.48%;
  right: 75.53%;
  bottom: 63.43%;
}
.bold-essentional-ui-masks3,
.vector-icon19 {
  height: 1.31%;
  width: 1.45%;
  top: 16.97%;
  right: 86.86%;
  bottom: 81.72%;
  left: 11.69%;
}
.bold-essentional-ui-masks3 {
  height: 1.7%;
  width: 1.72%;
  top: 28.79%;
  right: 86.8%;
  bottom: 69.51%;
  left: 11.48%;
}
.bold-sports-walking3 {
  height: 1.7%;
  width: 1.72%;
  top: 22.31%;
  right: 86.75%;
  bottom: 75.99%;
  left: 11.53%;
}
.bold-notes-archive3,
.bold-sports-walking3,
.child52 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-notes-archive3 {
  height: 1.54%;
  width: 1.56%;
  top: 35.27%;
  right: 86.85%;
  bottom: 63.19%;
  left: 11.58%;
  border-radius: var(--br-8xs);
}
.child52 {
  height: 4.16%;
  width: 10.74%;
  top: 1.75%;
  right: 77.44%;
  bottom: 94.09%;
  left: 11.82%;
}
.vector-icon20 {
  height: 26.68%;
  width: 30.21%;
  top: 41.07%;
  right: 69.79%;
  bottom: 32.25%;
  left: 0;
  opacity: 0.6;
}
.child53,
.vector-icon20,
.vector-icon21 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  height: 26.68%;
  width: 28.98%;
  top: 44.11%;
  right: 71.02%;
  bottom: 29.21%;
  left: 0;
  opacity: 0.6;
}
.child53 {
  height: 1.08%;
  width: 1.46%;
  top: 30.82%;
  right: 18.15%;
  bottom: 68.1%;
  left: 80.39%;
}
.div5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1945px;
  overflow: hidden;
  text-align: left;
  font-size: 36.15px;
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
