.child125 {
  position: absolute;
  height: 28.8%;
  width: 35.64%;
  top: 71.19%;
  right: 64.36%;
  bottom: 0.02%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subtract-icon {
  position: relative;
  width: 698.7px;
  height: 1974px;
}
.icon149,
.icon150 {
  position: absolute;
  top: 503px;
  left: 393.5px;
  width: 114.6px;
  height: 32.3px;
}
.icon150 {
  top: 172.5px;
  left: 1181.6px;
  width: 276.4px;
  height: 78px;
}
.group-icon16,
.icon151 {
  position: absolute;
  top: 680.6px;
  left: 332.9px;
  width: 229.7px;
  height: 29.9px;
}
.group-icon16 {
  height: 18.83%;
  width: 57.29%;
  top: -39.57%;
  right: 207.24%;
  bottom: 120.74%;
  left: -164.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child126,
.child127 {
  position: absolute;
  top: 537px;
  left: 835.2px;
  width: 950.1px;
  height: 6.5px;
  opacity: 0.7;
}
.child127 {
  top: 670.7px;
}
.icon152,
.icon153 {
  position: absolute;
  top: 497.9px;
  left: 915.3px;
  width: 86.8px;
  height: 19.5px;
}
.icon153 {
  top: 630.6px;
  width: 103.9px;
  height: 24.6px;
}
.child128,
.icon154 {
  position: absolute;
  top: 703px;
  left: 1600.3px;
  width: 165.2px;
  height: 19.5px;
}
.child128 {
  top: 988.4px;
  left: 1205.6px;
  width: 217px;
}
.child129,
.child130 {
  position: absolute;
  top: 958.9px;
  left: 1186.5px;
  width: 255.6px;
  height: 14.9px;
}
.child130 {
  top: 842.5px;
  left: 1127.4px;
  border-radius: 23.46px;
  background-color: var(--color-tomato);
  width: 373.8px;
  height: 77.6px;
}
.icon155 {
  position: absolute;
  top: 871.5px;
  left: 1275.3px;
  width: 78.2px;
  height: 18.6px;
}
.group-icon17,
.group-icon18 {
  position: relative;
  width: 47.8px;
  height: 34.3px;
}
.group-icon18 {
  width: 39.8px;
  height: 53.9px;
}
.group-parent {
  position: absolute;
  top: 490.2px;
  left: 838.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80.68px;
}
.child131,
.child132,
.child133,
.child134 {
  position: absolute;
  top: 1210.1px;
  left: 838.4px;
  border-radius: 133.78px;
  background-color: var(--color-gainsboro-100);
  width: 943.6px;
  height: 554.5px;
}
.child132,
.child133,
.child134 {
  top: 1790.2px;
  left: 1266.3px;
  border-radius: 50%;
  width: 21.4px;
  height: 21.4px;
}
.child133,
.child134 {
  left: 1299px;
  width: 22.5px;
}
.child134 {
  left: 1332.7px;
  width: 21.4px;
}
.subtract-icon1,
.subtract-icon2 {
  position: relative;
  width: 537.3px;
  height: 857.4px;
  opacity: 0.6;
}
.subtract-icon2 {
  width: 413.5px;
  height: 354.1px;
}
.character-icon,
.child135 {
  position: absolute;
  height: 17.88%;
  width: 35.26%;
  top: 82.15%;
  right: 64.74%;
  bottom: -0.03%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.character-icon {
  height: 46.7%;
  width: 20.19%;
  top: 43.61%;
  right: 79.81%;
  bottom: 9.69%;
}
.div38 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1974px;
  overflow: hidden;
}
