.gradient-icon,
.gradient-icon1 {
  position: absolute;
  top: 1449px;
  left: 0;
  width: 1920px;
  height: 791px;
  object-fit: cover;
  opacity: 0.8;
}
.gradient-icon1 {
  top: 0;
  width: 1921px;
  height: 1449px;
}
.child,
.icon {
  position: absolute;
  top: 251.4px;
  left: 686.9px;
  width: 280.9px;
  height: 32.1px;
}
.child {
  top: 355.4px;
  left: 944.9px;
  width: 407.6px;
  height: 32.6px;
}
.item,
.vector-icon {
  position: absolute;
  top: 350.6px;
  left: 920.3px;
  width: 15.1px;
  height: 34px;
}
.item {
  top: 363.5px;
  left: 682.3px;
  width: 227px;
  height: 17.7px;
}
.inner,
.rectangle-div {
  position: absolute;
  top: 453px;
  left: 682px;
  border-radius: 20.76px;
  background-color: var(--color-white);
  box-shadow: -4.5px -2.7px 9.04px rgba(22, 60, 81, 0.25),
    4.5px 3.6px 9.04px rgba(22, 60, 81, 0.25);
  width: 1064px;
  height: 207px;
}
.rectangle-div {
  top: 747px;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  position: absolute;
  top: 495.5px;
  left: 742.5px;
  width: 218.2px;
  height: 22.5px;
}
.icon2,
.icon3,
.icon4 {
  top: 788.4px;
  width: 342.5px;
  height: 23.6px;
}
.icon3,
.icon4 {
  top: 550px;
  left: 743px;
  width: 273.3px;
  height: 17.9px;
}
.icon4 {
  top: 841px;
  width: 321.7px;
}
.group-icon,
.icon5,
.icon6 {
  position: absolute;
  top: 500.3px;
  left: 1125.9px;
  width: 85.1px;
  height: 12.9px;
}
.group-icon,
.icon6 {
  top: 794.3px;
  width: 87.3px;
}
.group-icon {
  height: 101.09%;
  width: 29.69%;
  top: 0;
  right: 70.31%;
  bottom: -1.09%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-essentional-ui-masks,
.icon10,
.icon7,
.icon8,
.icon9,
.vector-icon1 {
  position: absolute;
  height: 0.95%;
  width: 6.16%;
  top: 14.95%;
  right: 78.88%;
  bottom: 84.11%;
  left: 14.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-essentional-ui-masks,
.icon10,
.icon8,
.icon9,
.vector-icon1 {
  height: 1.2%;
  width: 7.52%;
  top: 19.72%;
  right: 77.52%;
  bottom: 79.07%;
}
.bold-essentional-ui-masks,
.icon10,
.icon9,
.vector-icon1 {
  width: 11.23%;
  top: 25.26%;
  right: 73.81%;
  bottom: 73.55%;
}
.bold-essentional-ui-masks,
.icon10,
.vector-icon1 {
  height: 0.95%;
  width: 9.71%;
  top: 30.79%;
  right: 75.36%;
  bottom: 68.26%;
  left: 14.93%;
}
.bold-essentional-ui-masks,
.vector-icon1 {
  height: 1.14%;
  width: 1.45%;
  top: 14.73%;
  right: 86.97%;
  bottom: 84.14%;
  left: 11.58%;
}
.bold-essentional-ui-masks {
  height: 1.47%;
  width: 1.72%;
  top: 24.99%;
  right: 86.91%;
  bottom: 73.54%;
  left: 11.38%;
}
.bold-sports-walking {
  height: 1.47%;
  width: 1.72%;
  top: 19.37%;
  right: 86.85%;
  bottom: 79.16%;
  left: 11.43%;
}
.bold-notes-archive,
.bold-sports-walking,
.child1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-notes-archive {
  height: 1.34%;
  width: 1.56%;
  top: 30.61%;
  right: 86.96%;
  bottom: 68.05%;
  left: 11.48%;
  border-radius: var(--br-8xs);
}
.child1,
.vector-icon2,
.vector-icon3 {
  height: 3.61%;
  width: 10.74%;
  top: 1.52%;
  right: 77.54%;
  bottom: 94.87%;
  left: 11.72%;
}
.vector-icon2,
.vector-icon3 {
  height: 23.15%;
  width: 30.1%;
  top: 35.64%;
  right: 69.9%;
  bottom: 41.2%;
  left: 0;
  opacity: 0.6;
}
.vector-icon3 {
  width: 28.88%;
  top: 38.28%;
  right: 71.13%;
  bottom: 38.56%;
}
.group-child {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-honeydew);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 272px;
  height: 58px;
}
.novis771yandexru {
  position: absolute;
  top: 19px;
  left: 63px;
  line-height: 50.44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 184px;
  height: 17px;
}
.group-item {
  position: absolute;
  height: 43.64%;
  width: 8.44%;
  top: 29.09%;
  right: 82.27%;
  bottom: 27.27%;
  left: 9.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-inner,
.rectangle-parent {
  position: absolute;
  top: 45px;
  left: 1478px;
  width: 269px;
  height: 55px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-tomato);
}
.vector-icon4 {
  position: absolute;
  height: 45.09%;
  width: 9.22%;
  top: 27.27%;
  right: 78.88%;
  bottom: 27.64%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  position: absolute;
  top: 15px;
  left: 91px;
  line-height: 23px;
}
.rectangle-group {
  position: absolute;
  top: 45px;
  left: 1163px;
  width: 269px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2241px;
  overflow: hidden;
  text-align: left;
  font-size: 17.65px;
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
