.gradient-icon4,
.gradient-icon5 {
  position: absolute;
  top: 1449px;
  left: 0;
  width: 1920px;
  height: 791px;
  object-fit: cover;
  opacity: 0.8;
}
.gradient-icon5 {
  top: 0;
  height: 1449px;
}
.pseudo {
  position: absolute;
  top: 335px;
  left: 707px;
  border-radius: 11.88px;
  background-color: var(--color-darkslategray);
  width: 199px;
  height: 59px;
}
.icon39,
.icon40 {
  position: absolute;
  top: 251.4px;
  left: 859.9px;
  width: 333.5px;
  height: 40.4px;
}
.icon40 {
  top: 444.7px;
  left: 707.5px;
  width: 478.6px;
  height: 32.5px;
}
.icon41,
.icon42,
.icon43,
.icon44 {
  position: absolute;
  top: 520px;
  left: 1171.4px;
  width: 441px;
  height: 105.2px;
}
.icon42,
.icon43,
.icon44 {
  top: 967.8px;
  width: 330.6px;
  height: 69.1px;
}
.icon43,
.icon44 {
  top: 1414px;
  left: 1168.3px;
  width: 506px;
  height: 152.8px;
}
.icon44 {
  top: 1862px;
  left: 1172.3px;
}
.icon45,
.icon46,
.icon47,
.icon48 {
  position: absolute;
  top: 787.8px;
  left: 1207.2px;
  width: 213.2px;
  height: 15.3px;
}
.icon46,
.icon47,
.icon48 {
  top: 1214.8px;
}
.icon47,
.icon48 {
  top: 1651.8px;
  left: 1220.2px;
}
.icon48 {
  top: 2099.8px;
  left: 1224.2px;
}
.icon49,
.icon50,
.icon51,
.icon52 {
  position: absolute;
  top: 685.8px;
  left: 1174.2px;
  width: 160px;
  height: 19px;
}
.icon50,
.icon51,
.icon52 {
  top: 1112.8px;
  width: 320.2px;
}
.icon51,
.icon52 {
  top: 1582.8px;
  left: 1177.2px;
  width: 153.1px;
}
.icon52 {
  top: 2030.8px;
  left: 1181.2px;
}
.child20,
.child21,
.rectangle-icon {
  position: absolute;
  top: 535.3px;
  left: 691.4px;
  border-radius: 20.76px;
  width: 429.1px;
  height: 295.4px;
  object-fit: cover;
}
.child20,
.child21 {
  top: 964.3px;
}
.child21 {
  top: 1401.3px;
  left: 694.4px;
}
.icon53,
.vector-icon14 {
  position: absolute;
  top: 354.4px;
  left: 1122.9px;
  width: 80.2px;
  height: 13.8px;
}
.vector-icon14 {
  height: 0.45%;
  width: 0.78%;
  top: 16.11%;
  right: 53.65%;
  bottom: 83.44%;
  left: 45.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-map-location-map-po {
  position: absolute;
  top: 782px;
  left: 1170px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bold-map-location-map-po1,
.bold-map-location-map-po2,
.bold-map-location-map-po3 {
  position: absolute;
  top: 1211px;
  left: 1170px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bold-map-location-map-po2,
.bold-map-location-map-po3 {
  top: 1648px;
  left: 1173px;
}
.bold-map-location-map-po3 {
  top: 2096px;
  left: 1177px;
}
.child22,
.child23 {
  position: absolute;
  left: 1503px;
}
.child22 {
  top: 765px;
  border-radius: 17.44px;
  background-color: var(--color-tomato);
  width: 216px;
  height: 58px;
}
.child23 {
  top: 1194px;
}
.child23,
.child24,
.child25 {
  border-radius: 17.44px;
  background-color: var(--color-tomato);
  width: 216px;
  height: 58px;
}
.child24 {
  position: absolute;
  top: 1631px;
  left: 1506px;
}
.child25 {
  top: 2079px;
  left: 1510px;
}
.b2,
.child25,
.icon54 {
  position: absolute;
}
.icon54 {
  top: 786px;
  left: 1586px;
  width: 46.5px;
  height: 16.2px;
}
.b2 {
  top: 1212px;
  left: 1588px;
}
.child26,
.icon55,
.icon56 {
  position: absolute;
  top: 1653.4px;
  left: 1591.3px;
  width: 46.5px;
  height: 16.2px;
}
.child26,
.icon56 {
  top: 2101.4px;
  left: 1595.3px;
}
.child26 {
  top: 1849.3px;
  left: 691.4px;
  border-radius: 20.76px;
  width: 424.1px;
  height: 292.4px;
  object-fit: cover;
}
.child27 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1920px;
  height: 152px;
  display: none;
}
.child28,
.strongmargin {
  position: absolute;
  top: 128px;
  left: 237px;
  width: 341px;
  height: 46px;
}
.child28 {
  height: 101.09%;
  width: 29.69%;
  top: 0;
  right: 70.31%;
  bottom: -1.09%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-essentional-ui-masks2,
.icon57,
.icon58,
.icon59,
.icon60,
.vector-icon15 {
  position: absolute;
  height: 0.95%;
  width: 6.16%;
  top: 14.95%;
  right: 78.88%;
  bottom: 84.11%;
  left: 14.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-essentional-ui-masks2,
.icon58,
.icon59,
.icon60,
.vector-icon15 {
  height: 1.2%;
  width: 7.52%;
  top: 19.72%;
  right: 77.52%;
  bottom: 79.07%;
}
.bold-essentional-ui-masks2,
.icon59,
.icon60,
.vector-icon15 {
  width: 11.54%;
  top: 25.26%;
  right: 73.54%;
  bottom: 73.55%;
  left: 14.93%;
}
.bold-essentional-ui-masks2,
.icon60,
.vector-icon15 {
  height: 0.95%;
  width: 9.4%;
  top: 30.79%;
  right: 75.64%;
  bottom: 68.26%;
  left: 14.96%;
}
.bold-essentional-ui-masks2,
.vector-icon15 {
  height: 1.14%;
  width: 1.45%;
  top: 14.73%;
  right: 86.97%;
  bottom: 84.14%;
  left: 11.58%;
}
.bold-essentional-ui-masks2 {
  height: 1.47%;
  width: 1.72%;
  top: 24.99%;
  right: 86.91%;
  bottom: 73.54%;
  left: 11.38%;
}
.bold-sports-walking2 {
  height: 1.47%;
  width: 1.72%;
  top: 19.37%;
  right: 86.85%;
  bottom: 79.16%;
  left: 11.43%;
}
.bold-notes-archive2,
.bold-sports-walking2,
.child29,
.vector-icon16,
.vector-icon17 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-notes-archive2 {
  height: 1.34%;
  width: 1.56%;
  top: 30.61%;
  right: 86.96%;
  bottom: 68.05%;
  left: 11.48%;
  border-radius: var(--br-8xs);
}
.child29,
.vector-icon16,
.vector-icon17 {
  height: 3.61%;
  width: 10.74%;
  top: 1.52%;
  right: 77.54%;
  bottom: 94.87%;
  left: 11.72%;
}
.vector-icon16,
.vector-icon17 {
  height: 23.15%;
  width: 30.1%;
  top: 35.64%;
  right: 69.9%;
  bottom: 41.2%;
  left: 0;
  opacity: 0.6;
}
.vector-icon17 {
  width: 28.88%;
  top: 38.28%;
  right: 71.13%;
  bottom: 38.56%;
}
.group-child4 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-honeydew);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 272px;
  height: 58px;
}
.novis771yandexru2 {
  position: absolute;
  top: 19px;
  left: 63px;
  line-height: 50.44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 184px;
  height: 17px;
}
.group-child5 {
  position: absolute;
  height: 43.64%;
  width: 8.44%;
  top: 29.09%;
  right: 82.27%;
  bottom: 27.27%;
  left: 9.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child6,
.rectangle-parent1 {
  position: absolute;
  width: 269px;
  height: 55px;
}
.rectangle-parent1 {
  top: 45px;
  left: 1478px;
  text-align: left;
  font-size: 17.65px;
  color: var(--color-darkslategray);
}
.group-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-tomato);
}
.vector-icon18 {
  position: absolute;
  height: 45.09%;
  width: 9.22%;
  top: 27.27%;
  right: 78.88%;
  bottom: 27.64%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b3 {
  position: absolute;
  top: 15px;
  left: 91px;
  line-height: 23px;
}
.rectangle-parent2 {
  position: absolute;
  top: 45px;
  left: 1163px;
  width: 269px;
  height: 55px;
  font-size: var(--font-size-xl);
}
.div4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2241px;
  overflow: hidden;
  text-align: center;
  font-size: 18.01px;
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
