.child165 {
  position: absolute;
  height: 28.86%;
  width: 36.47%;
  top: 71.22%;
  right: 63.53%;
  bottom: -0.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.subtract-icon9 {
  position: relative;
  width: 700.2px;
  height: 1978px;
}
.subtract-icon10,
.subtract-icon11 {
  position: relative;
  width: 537.9px;
  height: 859px;
  opacity: 0.6;
}
.subtract-icon11 {
  width: 410.7px;
  height: 354.7px;
}
.child166 {
  position: absolute;
  height: 17.91%;
  width: 36.08%;
  top: 82.32%;
  right: 63.92%;
  bottom: -0.23%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gradient-icon17 {
  position: absolute;
  top: -64px;
  left: -71px;
  width: 2062px;
  height: 2062px;
  object-fit: cover;
  display: none;
  opacity: 0.8;
}
.icon184 {
  position: absolute;
  top: 508px;
  left: 391.4px;
  width: 95.7px;
  height: 27px;
}
.icon185,
.icon186 {
  position: absolute;
  top: 200.9px;
  left: 936px;
  width: 722.9px;
  height: 84.5px;
}
.icon186 {
  top: 677.3px;
  left: 312px;
  width: 252.4px;
  height: 32.2px;
}
.child167,
.child168,
.child169,
.child170,
.child171 {
  position: absolute;
  top: 559.5px;
  left: 816.5px;
  width: 909px;
  height: 3px;
}
.child168,
.child169,
.child170,
.child171 {
  top: 1148.5px;
  left: 817.5px;
}
.child169,
.child170,
.child171 {
  top: 680.5px;
  left: 816.5px;
}
.child170,
.child171 {
  top: 1265.5px;
  left: 817.5px;
}
.child171 {
  top: 1574.5px;
}
.child172,
.child173,
.child174,
.child175,
.icon187 {
  position: absolute;
  top: 1693.5px;
  left: 819.5px;
  width: 909px;
  height: 3px;
}
.child173,
.child174,
.child175,
.icon187 {
  top: 797.5px;
  left: 816.5px;
}
.child174,
.child175,
.icon187 {
  top: 914.5px;
}
.child175,
.icon187 {
  top: 1031.5px;
}
.icon187 {
  top: 992.6px;
  left: 916.2px;
  width: 100.7px;
  height: 22.6px;
}
.icon188,
.icon189,
.icon190 {
  position: absolute;
  top: 1109.6px;
  left: 915.5px;
  width: 120.6px;
  height: 28.6px;
}
.icon189,
.icon190 {
  top: 1226.6px;
  left: 915.7px;
  width: 303.2px;
}
.icon190 {
  top: 757.3px;
  left: 917px;
  width: 274.9px;
  height: 30px;
}
.icon191,
.icon192 {
  position: absolute;
  top: 875.6px;
  left: 916.7px;
  width: 254.7px;
  height: 27.4px;
}
.icon192 {
  top: 520.8px;
  left: 917.6px;
  width: 79.5px;
  height: 23.9px;
}
.group-icon29,
.icon193 {
  position: absolute;
  top: 640.6px;
  left: 916.9px;
  width: 97.8px;
  height: 23.6px;
}
.group-icon29 {
  height: 1.7%;
  width: 2.73%;
  top: 50.14%;
  right: 54.53%;
  bottom: 48.16%;
  left: 42.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child176,
.group-icon30,
.group-icon31,
.vector-icon55,
.vector-icon56 {
  position: absolute;
  height: 2.63%;
  width: 2.22%;
  top: 37.31%;
  right: 55.02%;
  bottom: 60.06%;
  left: 42.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child176,
.group-icon30,
.group-icon31,
.vector-icon56 {
  height: 2.53%;
  width: 2.59%;
  top: 31.51%;
  right: 54.8%;
  bottom: 65.96%;
  left: 42.6%;
}
.child176,
.group-icon30,
.group-icon31 {
  height: 2.67%;
  width: 2.28%;
  top: 55.12%;
  right: 54.99%;
  bottom: 42.21%;
  left: 42.73%;
}
.child176,
.group-icon31 {
  height: 2.5%;
  top: 61.22%;
  bottom: 36.28%;
}
.child176 {
  height: 2.33%;
  width: 1.87%;
  top: 25.58%;
  right: 55.19%;
  bottom: 72.09%;
  left: 42.94%;
}
.child177 {
  position: absolute;
  top: 1807px;
  left: 1089px;
  border-radius: 22.97px;
  background-color: var(--color-tomato);
  width: 366px;
  height: 76px;
}
.icon194 {
  position: absolute;
  top: 1836.9px;
  left: 1138.4px;
  width: 266px;
  height: 21.7px;
}
.character-icon3,
.group-icon32 {
  position: absolute;
  height: 45.73%;
  width: 20.03%;
  top: 44.53%;
  right: 79.97%;
  bottom: 9.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon32 {
  height: 2.48%;
  width: 2.34%;
  top: 43.52%;
  right: 54.9%;
  bottom: 54%;
  left: 42.76%;
}
.icon195,
.icon196 {
  position: absolute;
  top: 1343.4px;
  left: 917.1px;
  width: 193.3px;
  height: 22.9px;
}
.icon196 {
  top: 1435.6px;
  left: 918.2px;
  width: 186px;
  height: 28.6px;
}
.child178 {
  top: 1339px;
  left: 826px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 35px;
}
.child178,
.child179,
.child180 {
  position: absolute;
  width: 35px;
}
.child179 {
  top: 1431px;
  left: 826px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-darkslategray);
  box-sizing: border-box;
  height: 35px;
}
.child180 {
  top: 1414px;
  left: 830px;
  height: 47.8px;
}
.icon197,
.icon198 {
  position: absolute;
  top: 1535.6px;
  left: 915.8px;
  width: 488.9px;
  height: 29.6px;
}
.icon198 {
  top: 1654.6px;
  left: 915.9px;
  width: 458.7px;
}
.group-icon33,
.group-icon34,
.vector-icon57 {
  position: absolute;
  height: 2.63%;
  width: 1.98%;
  top: 76.72%;
  right: 55.03%;
  bottom: 20.64%;
  left: 42.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon33,
.group-icon34 {
  height: 1.67%;
  width: 2.56%;
  top: 83.76%;
  right: 54.81%;
  bottom: 14.57%;
  left: 42.63%;
}
.group-icon34 {
  height: 1.84%;
  width: 1.86%;
  top: 83.23%;
  right: 11.89%;
  bottom: 14.92%;
  left: 86.25%;
}
.div41 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1974px;
  overflow: hidden;
}
