.gradient-icon10,
.gradient-icon11 {
  position: absolute;
  top: 1449px;
  left: 0;
  width: 1920px;
  height: 497px;
  object-fit: cover;
  opacity: 0.8;
}
.gradient-icon11 {
  top: 0;
  width: 1921px;
  height: 1449px;
}
.icon92,
.icon93 {
  position: absolute;
  top: 220.5px;
  left: 684.9px;
  width: 225.3px;
  height: 40.6px;
}
.icon93 {
  top: 760.7px;
  left: 673.4px;
  width: 328.1px;
  height: 25.6px;
}
.child76,
.child77 {
  position: absolute;
  top: 306px;
  left: 686px;
  border-radius: 25.17px;
  background-color: var(--color-tomato);
  box-shadow: -5.5px -3.3px 10.96px rgba(22, 60, 81, 0.25),
    5.5px 4.4px 10.96px rgba(22, 60, 81, 0.25);
  width: 469px;
  height: 112px;
}
.child77 {
  top: 475px;
  left: 687px;
  background-color: var(--color-white);
}
.child78,
.child79,
.child80 {
  position: absolute;
  border-radius: 20.76px;
}
.child78 {
  top: 294.3px;
  left: 1221.4px;
  width: 533.1px;
  height: 303.4px;
  object-fit: cover;
}
.child79,
.child80 {
  top: 874px;
  left: 671px;
  background-color: var(--color-white);
  box-shadow: -4.5px -2.7px 9.04px rgba(22, 60, 81, 0.25),
    4.5px 3.6px 9.04px rgba(22, 60, 81, 0.25);
  width: 1064px;
  height: 207px;
}
.child80 {
  top: 1168px;
}
.icon94,
.icon95 {
  position: absolute;
  top: 915.4px;
  left: 731.5px;
  width: 342.5px;
  height: 23.6px;
}
.icon95 {
  top: 1209.4px;
}
.icon96,
.icon97,
.icon98,
.icon99 {
  position: absolute;
  top: 1008px;
  left: 731px;
  width: 250.4px;
  height: 17.9px;
}
.icon97,
.icon98,
.icon99 {
  top: 1317px;
  width: 311.3px;
}
.icon98,
.icon99 {
  top: 921.3px;
  left: 1114.9px;
  width: 85.1px;
  height: 12.9px;
}
.icon99 {
  top: 1215.3px;
  width: 87.3px;
}
.group-icon10,
.spanbha-order-button-icon4 {
  position: absolute;
  top: 327px;
  left: 710px;
  width: 40.2px;
  height: 66.9px;
}
.group-icon10 {
  height: 1.7%;
  width: 1.72%;
  top: 26.43%;
  right: 61.15%;
  bottom: 71.88%;
  left: 37.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child81 {
  top: 906px;
  background-color: var(--color-tomato);
}
.child81,
.child82,
.child83,
.child84 {
  position: absolute;
  left: 1432px;
  border-radius: 17.44px;
  width: 277.8px;
  height: 57.7px;
}
.child82 {
  top: 1202px;
  background-color: var(--color-tomato);
}
.child83,
.child84 {
  top: 993px;
  border: 4.1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.child84 {
  top: 1289px;
}
.icon100,
.icon101 {
  position: absolute;
  top: 927.7px;
  left: 1522.6px;
  width: 96.7px;
  height: 13px;
}
.icon101 {
  top: 1223.7px;
}
.icon102,
.icon103 {
  position: absolute;
  top: 1014.9px;
  left: 1468.8px;
  width: 203.8px;
  height: 16.4px;
}
.icon103 {
  top: 1310.9px;
}
.icon104,
.icon105 {
  position: absolute;
  top: 351.7px;
  left: 821.4px;
  width: 282.3px;
  height: 27.3px;
}
.icon105 {
  top: 518.7px;
  left: 822.9px;
  width: 252.6px;
  height: 28.4px;
}
.child85,
.icon106 {
  position: absolute;
  height: 101.34%;
  width: 29.69%;
  top: 0;
  right: 70.31%;
  bottom: -1.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon106 {
  height: 1.09%;
  width: 6.16%;
  top: 17.22%;
  right: 78.88%;
  bottom: 81.69%;
  left: 14.96%;
}
.bold-essentional-ui-masks5,
.icon107,
.icon108,
.icon109,
.vector-icon25 {
  position: absolute;
  height: 1.39%;
  width: 7.83%;
  top: 22.72%;
  right: 77.24%;
  bottom: 75.88%;
  left: 14.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-essentional-ui-masks5,
.icon108,
.icon109,
.vector-icon25 {
  height: 1.38%;
  width: 11.23%;
  top: 29.1%;
  right: 73.81%;
  bottom: 69.52%;
  left: 14.96%;
}
.bold-essentional-ui-masks5,
.icon109,
.vector-icon25 {
  height: 1.09%;
  width: 9.4%;
  top: 35.48%;
  right: 75.64%;
  bottom: 63.43%;
}
.bold-essentional-ui-masks5,
.vector-icon25 {
  height: 1.31%;
  width: 1.45%;
  top: 16.97%;
  right: 86.97%;
  bottom: 81.72%;
  left: 11.58%;
}
.bold-essentional-ui-masks5 {
  height: 1.7%;
  width: 1.72%;
  top: 28.79%;
  right: 86.91%;
  bottom: 69.51%;
  left: 11.38%;
}
.bold-sports-walking5 {
  height: 1.7%;
  width: 1.72%;
  top: 22.31%;
  right: 86.85%;
  bottom: 75.99%;
  left: 11.43%;
}
.bold-notes-archive5,
.bold-sports-walking5,
.child86,
.vector-icon26,
.vector-icon27 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bold-notes-archive5 {
  height: 1.54%;
  width: 1.56%;
  top: 35.27%;
  right: 86.96%;
  bottom: 63.19%;
  left: 11.48%;
  border-radius: var(--br-8xs);
}
.child86,
.vector-icon26,
.vector-icon27 {
  height: 4.16%;
  width: 10.74%;
  top: 1.75%;
  right: 77.54%;
  bottom: 94.09%;
  left: 11.72%;
}
.vector-icon26,
.vector-icon27 {
  height: 26.68%;
  width: 30.1%;
  top: 41.07%;
  right: 69.9%;
  bottom: 32.25%;
  left: 0;
  opacity: 0.6;
}
.vector-icon27 {
  width: 28.88%;
  top: 44.11%;
  right: 71.13%;
  bottom: 29.21%;
}
.group-child7 {
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-honeydew);
  border: 3px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 272px;
  height: 58px;
}
.novis771yandexru5 {
  position: absolute;
  top: 19px;
  left: 63px;
  line-height: 50.44px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 184px;
  height: 17px;
}
.group-child8 {
  position: absolute;
  height: 43.64%;
  width: 8.44%;
  top: 29.09%;
  right: 82.27%;
  bottom: 27.27%;
  left: 9.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child9,
.rectangle-parent3 {
  position: absolute;
  top: 45px;
  left: 1478px;
  width: 269px;
  height: 55px;
}
.group-child9 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xl-6);
  background-color: var(--color-tomato);
}
.vector-icon28 {
  position: absolute;
  height: 45.09%;
  width: 9.22%;
  top: 27.27%;
  right: 78.88%;
  bottom: 27.64%;
  left: 11.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b16 {
  position: absolute;
  top: 15px;
  left: 91px;
  line-height: 23px;
}
.rectangle-parent4 {
  position: absolute;
  top: 45px;
  left: 1163px;
  width: 269px;
  height: 55px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.div31 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1945px;
  overflow: hidden;
  text-align: left;
  font-size: 17.65px;
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
