.icon199,
.vector-icon58,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  position: absolute;
  height: 5.21%;
  width: 11.19%;
  top: 18.01%;
  right: 5.33%;
  bottom: 76.78%;
  left: 83.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon199,
.vector-icon59,
.vector-icon60,
.vector-icon61 {
  height: 5.38%;
  width: 10.28%;
  top: 79.12%;
  right: 89.72%;
  bottom: 15.5%;
  left: 0;
}
.icon199,
.vector-icon60,
.vector-icon61 {
  height: 4.96%;
  width: 14.33%;
  top: 40.8%;
  right: 85.67%;
  bottom: 54.24%;
}
.icon199,
.vector-icon61 {
  height: 11.02%;
  width: 26.92%;
  top: 86.37%;
  right: 2.35%;
  bottom: 2.61%;
  left: 70.73%;
}
.vector-icon61 {
  height: 5.73%;
  width: 18.91%;
  top: 63.71%;
  right: 3.83%;
  bottom: 30.55%;
  left: 77.26%;
}
.gradient-icon18,
.gradient-icon19,
.gradient-icon20,
.gradient-icon21 {
  position: absolute;
  top: 1218px;
  left: 0;
  width: 1930px;
  height: 2560px;
  object-fit: cover;
  opacity: 0.8;
}
.gradient-icon19,
.gradient-icon20,
.gradient-icon21 {
  top: 3761px;
  width: 1920px;
}
.gradient-icon20,
.gradient-icon21 {
  top: 6321px;
}
.gradient-icon21 {
  top: 8882px;
  width: 1932px;
  height: 2022px;
}
.icon200,
.icon201 {
  position: absolute;
  top: 9521.2px;
  left: calc(50% - 839.2px);
  width: 1718.4px;
  height: 146.5px;
}
.icon201 {
  top: 7744.6px;
  left: calc(50% - 803.5px);
  width: 1597.8px;
  height: 269.4px;
}
.icon202 {
  position: absolute;
  top: 1822.1px;
  left: 484.9px;
  width: 915.7px;
  height: 214px;
}
.icon203,
.icon204 {
  position: absolute;
  top: 2890px;
  left: calc(50% - 838px);
  width: 1676.5px;
  height: 173px;
}
.icon204 {
  top: 6628px;
  left: calc(50% - 830.2px);
  width: 1667.3px;
  height: 251.8px;
}
.div43 {
  top: 398.2px;
  left: 935px;
  width: 240px;
}
.div43,
.div44,
.div45 {
  position: absolute;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div44 {
  top: 398.2px;
  left: 600px;
  width: 240px;
  -webkit-text-stroke: 1px #163c51;
}
.div45 {
  top: 194.1px;
  left: 295px;
}
.div45,
.div46,
.div47 {
  width: 240px;
  -webkit-text-stroke: 1px #163c51;
}
.div46 {
  position: absolute;
  top: 398.2px;
  left: 1270px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div47 {
  top: 97px;
  left: 1701px;
}
.div47,
.div48,
.div49 {
  position: absolute;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div48 {
  top: 97.2px;
  left: 1061.9px;
  width: 241px;
}
.div49 {
  top: 97px;
  left: 741px;
}
.div49,
.div50,
.div51 {
  width: 241px;
  -webkit-text-stroke: 1px #163c51;
}
.div50 {
  position: absolute;
  top: 0;
  left: 5px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div51 {
  top: 97px;
  left: 1383px;
}
.div51,
.div52,
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59 {
  position: absolute;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div52 {
  top: 296.1px;
  left: 9px;
  width: 241px;
  -webkit-text-stroke: 1px #163c51;
}
.div53,
.div54,
.div55,
.div56,
.div57,
.div58,
.div59 {
  top: 194.1px;
  left: 929px;
  width: 216px;
}
.div54,
.div55,
.div56,
.div57,
.div58,
.div59 {
  left: 634px;
  -webkit-text-stroke: 1px #163c51;
}
.div55,
.div56,
.div57,
.div58,
.div59 {
  top: 197.1px;
  left: 0;
}
.div56,
.div57,
.div58,
.div59 {
  top: 97px;
  left: 447px;
}
.div57,
.div58,
.div59 {
  top: 296.1px;
  left: 328px;
}
.div58,
.div59 {
  top: 194.1px;
  left: 1245px;
}
.div59 {
  top: 0;
  left: 1767px;
}
.div60,
.div61 {
  top: 0;
  width: 395px;
}
.div60 {
  position: absolute;
  left: 800px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div61 {
  left: 1289px;
  -webkit-text-stroke: 1px #163c51;
}
.div61,
.div62,
.div63,
.div64,
.div65,
.div66,
.div67,
.div68,
.div69 {
  position: absolute;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72.8px;
}
.div62 {
  top: 0;
  left: 311px;
  width: 395px;
  -webkit-text-stroke: 1px #163c51;
}
.div63,
.div64,
.div65,
.div66,
.div67,
.div68,
.div69 {
  top: 296.1px;
  left: 1069px;
  width: 330px;
}
.div64,
.div65,
.div66,
.div67,
.div68,
.div69 {
  left: 646px;
  -webkit-text-stroke: 1px #163c51;
}
.div65,
.div66,
.div67,
.div68,
.div69 {
  top: 398.2px;
  left: 180px;
}
.div66,
.div67,
.div68,
.div69 {
  top: 97px;
  left: 47px;
}
.div67,
.div68,
.div69 {
  top: 296.1px;
  left: 1524px;
}
.div68,
.div69 {
  top: 398.2px;
  left: 1614px;
}
.div69 {
  top: 194.1px;
  left: 1570px;
}
.group-child19,
.group-child20,
.star-icon {
  position: absolute;
  top: 23.2px;
  left: 1217px;
  width: 30px;
  height: 30.3px;
}
.group-child19,
.group-child20 {
  top: 117.2px;
  left: 1321px;
}
.group-child20 {
  top: 217.3px;
  left: 1160px;
}
.group-child21,
.group-child22,
.group-child23 {
  position: absolute;
  top: 215.3px;
  left: 884px;
  width: 30px;
  height: 30.3px;
}
.group-child22,
.group-child23 {
  top: 319.4px;
  left: 1014px;
}
.group-child23 {
  left: 1424px;
}
.group-child24,
.group-child25,
.group-child26,
.group-child27 {
  position: absolute;
  top: 419.5px;
  left: 1196px;
  width: 30px;
  height: 30.3px;
}
.group-child25,
.group-child26,
.group-child27 {
  left: 884px;
}
.group-child26,
.group-child27 {
  top: 21.2px;
  left: 748px;
}
.group-child27 {
  top: 117.2px;
  left: 1014px;
}
.div70 {
  top: 298.2px;
  left: 1909px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 72.8px;
  -webkit-text-stroke: 1px #163c51;
}
.div70,
.div71,
.parent {
  position: absolute;
}
.div71 {
  top: 197.1px;
  left: 1934px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 72.8px;
  -webkit-text-stroke: 1px #163c51;
}
.parent {
  top: 1296px;
  left: -100px;
  width: 2150px;
  height: 471px;
}
.frame-icon,
.objects-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1930px;
  height: 1239px;
  overflow: hidden;
}
.objects-icon {
  height: 5.37%;
  width: 31.51%;
  top: 3.54%;
  right: 18.14%;
  bottom: 91.09%;
  left: 50.36%;
  max-width: 100%;
  max-height: 100%;
}
.child181,
.icon205 {
  position: absolute;
  top: 328.1px;
  left: 178.3px;
  width: 520.4px;
  height: 205.1px;
}
.buttonRegistration {
  top: 643px;
  left: 180px;
  position: absolute;
  border-radius: 22.97px;
  background: var(--color-tomato);
  border: 5.4px solid var(--color-tomato);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-2xl-2);
  font-weight: bold;
  color: var(--color-white);
  cursor: pointer;
  width: 366px;
  height: 76px;
}
.buttonRegistration:hover{
  background: #db4e2b;
  border: #db4e2b;
}
.buttonRegistration:active{
  background: #db4e2b;
  border: #db4e2b;
}
.buttonRegistration::before{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: var(--font-size-6xl);
  width: 365px;
}
.icon206 {
  position: absolute;
  top: 672.9px;
  left: 229.4px;
  width: 266px;
  height: 21.7px;
}
.child182,
.child183 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1920px;
  height: 152px;
}
.child183 {
  top: 10574px;
  left: -10px;
  width: 1932px;
  height: 330px;
}
.icon207,
.icon208 {
  position: absolute;
  top: 68px;
  left: 465px;
  width: 90.1px;
  height: 21.8px;
}
.icon208 {
  left: 676.1px;
  width: 135.3px;
  height: 21.3px;
}
.child184,
.icon209,
.icon210 {
  position: absolute;
  top: 68px;
  left: 932.5px;
  width: 151.6px;
  height: 26.8px;
}
.child184,
.icon210 {
  left: 1205.1px;
  width: 156.9px;
  height: 21.3px;
}
.child184 {
  top: 48px;
  left: 1496px;
  border-radius: 22.97px;
  background-color: var(--color-white);
  border: 5.4px solid var(--color-white);
  box-sizing: border-box;
  width: 247px;
  height: 63px;
}
.button
{
  position: absolute;
  top: 48px;
  left: 1496px;
  border-radius: 22.97px;
  background: var(--color-white);
  border: 5.4px solid var(--color-white);
  box-sizing: border-box;
  width: 247px;
  height: 63px;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-17xl-2);
  font-weight: bold;
  color: var(--color-darkslategray);
  cursor: pointer;
}
.button::after{
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.button::before{
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.button1{
  background: var(--color-white);
  color: var(--color-darkslategray);
}
.button1:hover{
  background: #afb5b9;
  border: #afb5b9;
}
.button1:active{
  background: #afb5b9;
  border: #afb5b9;
}
.button1::before{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: var(--font-size-17xl-2);
  width: 247px;
}
.group-icon35,
.icon211 {
  position: absolute;
  top: 68.3px;
  left: 1582px;
  width: 76.2px;
  height: 20.9px;
}
.group-icon35 {
  height: 0.85%;
  width: 4.84%;
  top: 0.28%;
  right: 85.68%;
  bottom: 98.88%;
  left: 9.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.child185,
.child186,
.child187 {
  position: absolute;
  top: 4405px;
  left: 171px;
  width: 908px;
  height: 926px;
}
.child186,
.child187 {
  top: 5480px;
  left: 841px;
  height: 1026px;
}
.child187 {
  top: 3241px;
  left: 839px;
}
.icon212,
.icon213 {
  position: absolute;
  top: 2930.9px;
  left: calc(50% - 523.1px);
  width: 1059px;
  height: 101.2px;
}
.icon213 {
  top: 6708.9px;
  left: calc(50% - 325px);
  width: 642.1px;
  height: 93px;
}
.icon214,
.icon215 {
  position: absolute;
  top: 7843.2px;
  left: calc(50% - 268.6px);
  width: 559.2px;
  height: 90.8px;
}
.icon215 {
  top: 9552.7px;
  left: calc(50% - 586.9px);
  width: 1181.8px;
  height: 93.2px;
}
.icon216,
.icon217 {
  position: absolute;
  top: 4479px;
  left: calc(50% - 676.7px);
  width: 439.8px;
  height: 58.2px;
}
.icon217 {
  top: 5564px;
  left: calc(50% - 1.6px);
  width: 651.1px;
}
.icon218,
.icon219 {
  position: absolute;
  top: 3313px;
  left: calc(50% + 192.1px);
  width: 453.8px;
  height: 143.3px;
}
.icon219 {
  top: 3081px;
  left: calc(50% - 254.7px);
  width: 564.2px;
  height: 38.6px;
}
.icon220 {
  position: absolute;
  top: 4630.4px;
  left: 336px;
  width: 560.9px;
  height: 107.8px;
}
.icon221,
.icon222 {
  position: absolute;
  top: 5051.7px;
  left: 335px;
  width: 648.7px;
  height: 147.7px;
}
.icon222 {
  top: 3978.4px;
  left: 1005.2px;
  width: 610.7px;
  height: 105.5px;
}
.icon223,
.icon224 {
  position: absolute;
  top: 4840.7px;
  left: 333.9px;
  width: 591.1px;
  height: 108.5px;
}
.icon224 {
  top: 1878.9px;
  left: 735.3px;
  width: 416.1px;
  height: 93px;
}
.child188,
.child189,
.child190 {
  position: absolute;
  top: 4414px;
  left: 1178px;
  width: 571px;
  height: 917px;
  object-fit: cover;
}
.child189,
.child190 {
  top: 5480px;
  left: 179px;
  width: 580px;
  height: 1030px;
}
.child190 {
  top: 3241px;
  left: 177px;
}
.icon225,
.icon226 {
  position: absolute;
  top: 5743.3px;
  left: 1008.2px;
  width: 573.7px;
  height: 145.9px;
}
.icon226 {
  top: 3576.6px;
  width: 565.8px;
  height: 99.2px;
}
.icon227,
.icon228 {
  position: absolute;
  top: 3772.7px;
  left: 1008.3px;
  width: 579.5px;
  height: 102.6px;
}
.icon228 {
  top: 6165.2px;
  left: 1008.2px;
  width: 584.1px;
  height: 186.2px;
}
.child191,
.icon229 {
  position: absolute;
  top: 5973.2px;
  left: 1008.7px;
  width: 660.9px;
  height: 108px;
}
.child191 {
  top: 2127px;
  left: 167px;
  border-radius: 82.46px;
  width: 485px;
  height: 636px;
  object-fit: cover;
}
.icon230,
.line-div {
  position: absolute;
  top: 2180.1px;
  left: 221.8px;
  width: 229.5px;
  height: 109.9px;
}
.line-div {
  top: 2322px;
  left: 164px;
  border-top: 6px solid var(--color-tomato);
  box-sizing: border-box;
  width: 491px;
  height: 6px;
}
.icon231 {
  position: absolute;
  top: 2381.5px;
  left: 226.2px;
  width: 295.2px;
  height: 257.5px;
}
.child192,
.child193 {
  position: absolute;
  top: 2118px;
  left: 706px;
  border-radius: 82.46px;
  width: 497px;
  height: 653px;
  object-fit: cover;
}
.child193 {
  top: 2117px;
  left: 1243px;
  width: 498px;
  height: 654px;
}
.icon232,
.icon233 {
  position: absolute;
  top: 2173.1px;
  left: 764px;
  width: 308.5px;
  height: 109.4px;
}
.icon233 {
  left: 1302.5px;
  width: 217.8px;
  height: 109.8px;
}
.child194,
.child195 {
  position: absolute;
  top: 2321px;
  left: 703px;
  border-top: 6px solid var(--color-tomato);
  box-sizing: border-box;
  width: 503px;
  height: 6px;
}
.child195 {
  left: 1241px;
}
.icon234,
.icon235 {
  position: absolute;
  top: 2387.3px;
  left: 765.2px;
  width: 323.7px;
  height: 99px;
}
.icon235 {
  top: 2386.3px;
  left: 1303.3px;
  width: 349.8px;
  height: 251px;
}
.child196,
.child197,
.child198,
.child199,
.child200 {
  position: absolute;
  top: 4627px;
  left: 283px;
  width: 30px;
  height: 30px;
}
.child197,
.child198,
.child199,
.child200 {
  top: 5739px;
  left: 957px;
}
.child198,
.child199,
.child200 {
  top: 3567px;
  left: 955px;
}
.child199,
.child200 {
  top: 5970px;
  left: 957px;
}
.child200 {
  top: 3770px;
  left: 955px;
}
.child201,
.child202,
.child203,
.child204,
.child205 {
  position: absolute;
  top: 6162px;
  left: 957px;
  width: 30px;
  height: 30px;
}
.child202,
.child203,
.child204,
.child205 {
  top: 3975px;
  left: 955px;
}
.child203,
.child204,
.child205 {
  top: 4838px;
  left: 284px;
}
.child204,
.child205 {
  top: 5049px;
  left: 283px;
}
.child205 {
  top: 6947px;
  left: 292px;
  border-radius: 118px;
  background-color: var(--color-darkslategray);
  width: 1345px;
  height: 655px;
}
.vector-icon62,
.vector-icon63 {
  position: absolute;
  height: 6.29%;
  width: 30.99%;
  top: 63.51%;
  right: 14.06%;
  bottom: 30.2%;
  left: 54.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon63 {
  height: 6.1%;
  width: 31.09%;

  left: 14.48%;
}
.icon236,
.icon237 {
  position: absolute;
  top: 7257.5px;
  left: 945.3px;
  width: 593.5px;
  height: 172.5px;
}
.icon237 {
  top: 7506.4px;
  left: 1414.3px;
  width: 130.2px;
  height: 17.8px;
}
.icon238,
.icon239 {
  position: absolute;
  top: 7031.8px;
  left: 952.2px;
  width: 465.4px;
  height: 168.6px;
}
.icon239 {
  top: 9850px;
  left: 291px;
  width: 270.1px;
  height: 30.6px;
}
.e-mail-icon,
.icon240 {
  position: absolute;
  top: 9995.2px;
  left: 289.4px;
  width: 139.5px;
  height: 32px;
}
.icon240 {
  top: 9997.6px;
  left: 955.6px;
  width: 213.2px;
  height: 29.7px;
}
.e-mail-icon1,
.icon241 {
  position: absolute;
  top: 10112.2px;
  left: 951.5px;
  width: 430.1px;
  height: 39.9px;
}
.icon241 {
  top: 10229.2px;
  left: 953.2px;
  width: 256.3px;
  height: 36.6px;
}
.icon242,
.icon243 {
  position: absolute;
  top: 10189.8px;
  left: 285.5px;
  width: 198.6px;
  height: 39.3px;
}
.icon243 {
  top: 10257.1px;
  left: 287.6px;
  width: 320.7px;
  height: 30.4px;
}
.technotk34mailru-icon {
  position: absolute;
  top: 10059.9px;
  left: 285.3px;
  width: 456.2px;
  height: 41.7px;
}
.icon244,
.icon245 {
  position: absolute;
  top: 9681.6px;
  left: 476.2px;
  width: 994.4px;
  height: 59.4px;
}
.icon245 {
  top: 9371.3px;
  left: 1433px;
  width: 314.1px;
  height: 33.9px;
}
.full-shot-man-woman-table-1-icon {
  position: absolute;
  top: 7011px;
  left: 359px;
  border-radius: 49.93px;
  width: 516.3px;
  height: 351.5px;
  object-fit: cover;
}
.group-friends-taking-stroll-ci-icon,
.group-friends-taking-stroll-ci-icon1 {
  position: absolute;
  top: 7373.2px;
  left: 370px;
  border-radius: 36.62px;
  width: 235.5px;
  height: 157.3px;
  object-fit: cover;
}
.group-friends-taking-stroll-ci-icon1 {
  left: 628.8px;
}
.vector-icon64,
.vector-icon65 {
  position: absolute;
  height: 0.69%;
  width: 2.29%;
  top: 66.37%;
  right: 8.91%;
  bottom: 32.94%;
  left: 88.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon65 {
  right: 88.39%;
  left: 9.32%;
}
.child206,
.child207 {
  position: absolute;
  top: 8082px;
  left: 179px;
  width: 795px;
  height: 551px;
  object-fit: cover;
}
.child207 {
  top: 8769px;
  left: 1107px;
  width: 642px;
}
.child208,
.child209,
.child210,
.child211,
.child212 {
  position: absolute;
  top: 8082px;
  left: 1015px;
  width: 321px;
  height: 551px;
  object-fit: cover;
}
.child209,
.child210,
.child211,
.child212 {
  left: 1428px;
}
.child210,
.child211,
.child212 {
  top: 8753px;
  left: 179px;
}
.child211,
.child212 {
  left: 577px;
  width: 438px;
  height: 259px;
}
.child212 {
  top: 9045px;
}
.child213,
.child214,
.child215 {
  position: absolute;
  top: 10047px;
  left: 949px;
  border-top: 4px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 687px;
  height: 4px;
  opacity: 0.7;
}
input{
  background-color: transparent;
  border: none;
  outline: none;
}
.nameInput{
  position: absolute;
  top: 9990px;
  left: 949px;
  border-bottom: 4px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 687px;
  height: 70px;
  opacity: 0.7;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  font-weight: 600;
  padding-left: 7px;
}
.nameInput::placeholder{
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  font-weight: 600;
  opacity: 0.7;
}
.nameInput:focus{
  border-bottom: 5px solid var(--color-darkslategray);
}
.numberPhoneInput{
  position: absolute;
  top: 10109px;
  left: 949px;
  border-bottom: 4px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 687px;
  height: 70px;
  opacity: 0.7;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  font-weight: 600;
  padding-left: 7px;
}
.numberPhoneInput::placeholder{
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  font-weight: 600;
  opacity: 0.7;
}
.numberPhoneInput:focus{
  border-bottom: 5px solid var(--color-darkslategray);
}
.messageInput{
  position: absolute;
  top: 10228px;
  left: 949px;
  border-bottom: 4px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 687px;
  height: 70px;
  opacity: 0.7;
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  font-weight: 600;
  padding-left: 7px;
}
.messageInput::placeholder{
  font-size: var(--font-size-17xl-2);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  font-weight: 600;
  opacity: 0.7;
}
.messageInput:focus{
  border-bottom: 5px solid var(--color-darkslategray);
}
.child215 {
  top: 10285px;
}
.child216 {
  position: absolute;
  top: 10356px;
  left: 1268px;
  width: 366px;
  height: 76px;
}
.buttonSend{
  border-radius: 22.97px;
  background: var(--color-tomato);
  border: 5.4px solid var(--color-tomato);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-6xl);
  font-weight: bold;
  color: var(--color-white);
  cursor: pointer;
}
.buttonSend:hover{
  background: #db4e2b;
  border: #db4e2b;
}
.buttonSend:active{
  background: #db4e2b;
  border: #db4e2b;
}
.buttonSend::before{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  font-size: var(--font-size-6xl);
  width: 365px;
}
.icon246 {
  position: absolute;
  top: 10383.9px;
  left: 1381.5px;
  width: 139.5px;
  height: 25.8px;
}
.vector-icon66,
.vector-icon67 {
  position: absolute;
  height: 3.44%;
  width: 13.86%;
  top: 48.15%;
  right: 37.38%;
  bottom: 48.41%;
  left: 48.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon67 {
  height: 4.08%;
  width: 9.26%;
  top: 28.43%;
  right: 3.69%;
  bottom: 67.48%;
  left: 87.05%;
}
.div42 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 10904px;
  overflow: hidden;
  text-align: center;
  font-size: 52.81px;
  color: var(--color-darkslategray);
  font-family: var(--font-avenir);
}
